<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Blog of Decryption</title>
    <link rel="canonical" href="http://172.20.10.2:3000/articles/" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="body-container" class="main-container">
      <header class="header-wrap container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="rounded navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
              <img
                src="https://upload.cc/i1/2021/04/30/fXKnwp.png"
                width="30"
                height="30"
                class="d-inline-block align-top"
                alt=""
              />
              解密之書
            </a>
          </div>
          <nav class="collapse navbar-collapse" id="navbarNav">
            <ul
              class="navbar-nav d-flex flex-row justify-content-between w-100"
            >
              <li class="nav-item active">
                <a href="/" class="nav-link"
                  >首頁<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a href="/articles/learn" class="nav-link">學習</a>
              </li>
              <li class="nav-item">
                <a href="/articles/share" class="nav-link">分享</a>
              </li>
              <li class="nav-item">
                <a href="/articles/digital" class="nav-link">3C</a>
              </li>
              <li class="nav-item">
                <a href="/articles/food" class="nav-link">食材</a>
              </li>
              <li class="nav-item">
                <a href="/articles/decoration" class="nav-link">裝修</a>
              </li>
              <li class="nav-item">
                <a href="/articles/outfit" class="nav-link">穿搭</a>
              </li>
              <li class="nav-item">
                <a href="/articles/health" class="nav-link">健康</a>
              </li>
            </ul>
          </nav>
        </nav>
      </header>
      {{{body}}}
      <footer class="article-footer">
        <div class="copyright-wrap">
          <p class="copyright">
            Copyright ©2021&nbsp;/&nbsp;<a href="/terms" rel="nofollow"
              >服務條款</a
            >&nbsp;/&nbsp;<a href="#" rel="nofollow">DMCA</a>&nbsp;/&nbsp;<a
              href="#"
              rel="nofollow"
              >聯絡我們</a
            >
          </p>
          <p class="terms">
            免責聲明：本網站是以實時上傳文章的方式運作，本站對所有文章的真實性、完整性及立場等，不負任何法律責任。而一切文章內容只代表發文者個人意見，並非本網站之立場，用戶不應信賴內容，並應自行判斷內容之真實性。發文者擁有在本站張貼的文章。由於本站是受到「實時發表」運作方式所規限，故不能完全監查所有即時文章，若讀者發現有留言出現問題，請聯絡我們。本站有權刪除任何內容及拒絕任何人士發文，同時亦有不刪除文章的權力。切勿撰寫粗言穢語、毀謗、渲染色情暴力或人身攻擊的言論，敬請自律。本網站保留一切法律權利。
          </p>
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
