<!DOCTYPE html>
<html ⚡="">
  <head>
    <meta charset="utf-8" />
    <title>The Recipe Blog</title>
    <link rel="canonical" href="https://www.ampstart.com/" />
    <meta name="viewport" content="width=device-width" />
    <meta name="amp-google-client-id-api" content="googleanalytics" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
    <script async="" src="https://cdn.ampproject.org/v0.js"></script>
    <script
      async
      custom-element="amp-fit-text"
      src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"
    ></script>

    <style amp-boilerplate="">
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
    </style>
    <noscript
      ><style amp-boilerplate="">
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style></noscript
    >

    <script
      custom-element="amp-carousel"
      src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"
      async=""
    ></script>
    <script
      custom-element="amp-sidebar"
      src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"
      async=""
    ></script>
    <script
      custom-element="amp-accordion"
      src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"
      async=""
    ></script>
    <script
      custom-element="amp-form"
      src="https://cdn.ampproject.org/v0/amp-form-0.1.js"
      async=""
    ></script>
    <script
      custom-element="amp-instagram"
      src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"
      async=""
    ></script>
    <script
      async
      custom-element="amp-social-share"
      src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"
    ></script>
    <style amp-custom="">
      /*! Spectre.css v0.5.7 | MIT License */
      html {
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }
      body {
        margin: 0;
      }
      article,
      aside,
      footer,
      header,
      nav,
      section {
        display: block;
      }
      h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }
      figcaption,
      figure,
      main {
        display: block;
      }
      hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
      }
      a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
      }
      a:active,
      a:hover {
        outline-width: 0;
      }
      address {
        font-style: normal;
      }
      b,
      strong {
        font-weight: inherit;
      }
      b,
      strong {
        font-weight: bolder;
      }
      code,
      kbd,
      pre,
      samp {
        font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier,
          monospace;
        font-size: 1em;
      }
      dfn {
        font-style: italic;
      }
      small {
        font-size: 80%;
        font-weight: 400;
      }
      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }
      sub {
        bottom: -0.25em;
      }
      sup {
        top: -0.5em;
      }
      audio,
      video {
        display: inline-block;
      }
      audio:not([controls]) {
        display: none;
        height: 0;
      }
      img {
        border-style: none;
      }
      svg:not(:root) {
        overflow: hidden;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
      }
      button,
      input {
        overflow: visible;
      }
      button,
      select {
        text-transform: none;
      }
      [type="reset"],
      [type="submit"],
      button,
      html [type="button"] {
        -webkit-appearance: button;
      }
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner,
      button::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      fieldset {
        border: 0;
        margin: 0;
        padding: 0;
      }
      legend {
        box-sizing: border-box;
        color: inherit;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
      }
      progress {
        display: inline-block;
        vertical-align: baseline;
      }
      textarea {
        overflow: auto;
      }
      [type="checkbox"],
      [type="radio"] {
        box-sizing: border-box;
        padding: 0;
      }
      [type="number"]::-webkit-inner-spin-button,
      [type="number"]::-webkit-outer-spin-button {
        height: auto;
      }
      [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
      }
      [type="search"]::-webkit-search-cancel-button,
      [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
      }
      ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
      }
      details,
      menu {
        display: block;
      }
      summary {
        display: list-item;
        outline: 0;
      }
      canvas {
        display: inline-block;
      }
      template {
        display: none;
      }
      [hidden] {
        display: none;
      }
      *,
      ::after,
      ::before {
        box-sizing: inherit;
      }
      html {
        box-sizing: border-box;
        font-size: 20px;
        line-height: 1.5;
        -webkit-tap-highlight-color: transparent;
      }
      body {
        background: #fff;
        color: #3b4351;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", sans-serif;
        font-size: 0.8rem;
        overflow-x: hidden;
        text-rendering: optimizeLegibility;
      }
      a {
        color: #000000;
        outline: 0;
        text-decoration: none;
      }
      a:focus {
        box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
      }
      a.active,
      a:active,
      a:focus,
      a:hover {
        color: #302ecd;
        text-decoration: underline;
      }
      a:visited {
        color: #807fe2;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: inherit;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0.5em;
        margin-top: 0;
      }
      .h1,
      .h2,
      .h3,
      .h4,
      .h5,
      .h6 {
        font-weight: 500;
      }
      .h1,
      h1 {
        font-size: 2rem;
      }
      .h2,
      h2 {
        font-size: 1.6rem;
      }
      .h3,
      h3 {
        font-size: 1.4rem;
      }
      .h4,
      h4 {
        font-size: 1.2rem;
      }
      .h5,
      h5 {
        font-size: 1rem;
      }
      .h6,
      h6 {
        font-size: 0.8rem;
      }
      p {
        margin: 0 0 1.2rem;
      }
      a,
      ins,
      u {
        -webkit-text-decoration-skip: ink edges;
        text-decoration-skip: ink edges;
      }
      abbr[title] {
        border-bottom: 0.05rem dotted;
        cursor: help;
        text-decoration: none;
      }
      kbd {
        background: #303742;
        border-radius: 0.1rem;
        color: #fff;
        font-size: 0.7rem;
        line-height: 1.2;
        padding: 0.1rem 0.2rem;
      }
      mark {
        background: #ffe9b3;
        border-bottom: 0.05rem solid #ffd367;
        border-radius: 0.1rem;
        color: #3b4351;
        padding: 0.05rem 0.1rem 0;
      }
      blockquote {
        border-left: 0.1rem solid #dadee4;
        margin-left: 0;
        padding: 0.4rem 0.8rem;
      }
      blockquote p:last-child {
        margin-bottom: 0;
      }
      ol,
      ul {
        margin: 0.8rem 0 0.8rem 0.8rem;
        padding: 0;
      }
      ol ol,
      ol ul,
      ul ol,
      ul ul {
        margin: 0.8rem 0 0.8rem 0.8rem;
      }
      ol li,
      ul li {
        margin-top: 0.4rem;
      }
      ul {
        list-style: disc inside;
      }
      ul ul {
        list-style-type: circle;
      }
      ol {
        list-style: decimal inside;
      }
      ol ol {
        list-style-type: lower-alpha;
      }
      dl dt {
        font-weight: 700;
      }
      dl dd {
        margin: 0.4rem 0 0.8rem 0;
      }

      .btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff;
        border: 0.05rem solid #5755d9;
        border-radius: 0.1rem;
        color: #5755d9;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8rem;
        height: 1.8rem;
        line-height: 1.2rem;
        outline: 0;
        padding: 0.25rem 0.4rem;
        text-align: center;
        text-decoration: none;
        transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
      }
      .btn:focus {
        box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
      }
      .btn:focus,
      .btn:hover {
        background: #f1f1fc;
        border-color: #4b48d6;
        text-decoration: none;
      }
      .btn.active,
      .btn:active {
        background: #4b48d6;
        border-color: #3634d2;
        color: #fff;
        text-decoration: none;
      }
      .btn.active.loading::after,
      .btn:active.loading::after {
        border-bottom-color: #fff;
        border-left-color: #fff;
      }
      .btn.disabled,
      .btn:disabled,
      .btn[disabled] {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
      }
      .btn.btn-primary {
        background: #5755d9;
        border-color: #4b48d6;
        color: #fff;
      }
      .btn.btn-primary:focus,
      .btn.btn-primary:hover {
        background: #4240d4;
        border-color: #3634d2;
        color: #fff;
      }
      .btn.btn-primary.active,
      .btn.btn-primary:active {
        background: #3a38d2;
        border-color: #302ecd;
        color: #fff;
      }
      .btn.btn-primary.loading::after {
        border-bottom-color: #fff;
        border-left-color: #fff;
      }
      .btn.btn-success {
        background: #32b643;
        border-color: #2faa3f;
        color: #fff;
      }
      .btn.btn-success:focus {
        box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2);
      }
      .btn.btn-success:focus,
      .btn.btn-success:hover {
        background: #30ae40;
        border-color: #2da23c;
        color: #fff;
      }
      .btn.btn-success.active,
      .btn.btn-success:active {
        background: #2a9a39;
        border-color: #278e34;
        color: #fff;
      }
      .btn.btn-success.loading::after {
        border-bottom-color: #fff;
        border-left-color: #fff;
      }
      .btn.btn-error {
        background: #e85600;
        border-color: #d95000;
        color: #fff;
      }
      .btn.btn-error:focus {
        box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
      }
      .btn.btn-error:focus,
      .btn.btn-error:hover {
        background: #de5200;
        border-color: #cf4d00;
        color: #fff;
      }
      .btn.btn-error.active,
      .btn.btn-error:active {
        background: #c44900;
        border-color: #b54300;
        color: #fff;
      }
      .btn.btn-error.loading::after {
        border-bottom-color: #fff;
        border-left-color: #fff;
      }
      .btn.btn-link {
        background: 0 0;
        border-color: transparent;
        color: #5755d9;
      }
      .btn.btn-link.active,
      .btn.btn-link:active,
      .btn.btn-link:focus,
      .btn.btn-link:hover {
        color: #302ecd;
      }
      .btn.btn-sm {
        font-size: 0.7rem;
        height: 1.4rem;
        padding: 0.05rem 0.3rem;
      }
      .btn.btn-lg {
        font-size: 0.9rem;
        height: 2rem;
        padding: 0.35rem 0.6rem;
      }
      .btn.btn-block {
        display: block;
        width: 100%;
      }
      .btn.btn-action {
        padding-left: 0;
        padding-right: 0;
        width: 1.8rem;
      }
      .btn.btn-action.btn-sm {
        width: 1.4rem;
      }
      .btn.btn-action.btn-lg {
        width: 2rem;
      }
      .btn.btn-clear {
        background: 0 0;
        border: 0;
        color: currentColor;
        height: 1rem;
        line-height: 0.8rem;
        margin-left: 0.2rem;
        margin-right: -2px;
        opacity: 1;
        padding: 0.1rem;
        text-decoration: none;
        width: 1rem;
      }
      .btn.btn-clear:focus,
      .btn.btn-clear:hover {
        background: rgba(247, 248, 249, 0.5);
        opacity: 0.95;
      }
      .btn.btn-clear::before {
        content: "\2715";
      }
      .btn-group {
        display: inline-flex;
        display: -ms-inline-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .btn-group .btn {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
      }
      .btn-group .btn:first-child:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .btn-group .btn:not(:first-child):not(:last-child) {
        border-radius: 0;
        margin-left: -0.05rem;
      }
      .btn-group .btn:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -0.05rem;
      }
      .btn-group .btn.active,
      .btn-group .btn:active,
      .btn-group .btn:focus,
      .btn-group .btn:hover {
        z-index: 1;
      }
      .btn-group.btn-group-block {
        display: flex;
        display: -ms-flexbox;
      }
      .btn-group.btn-group-block .btn {
        -ms-flex: 1 0 0;
        flex: 1 0 0;
      }
      .form-group:not(:last-child) {
        margin-bottom: 0.4rem;
      }
      fieldset {
        margin-bottom: 0.8rem;
      }
      legend {
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
      }
      .label {
        background: #eef0f3;
        border-radius: 0.1rem;
        color: #455060;
        display: inline-block;
        line-height: 1.2;
        padding: 0.1rem 0.2rem;
      }
      .label.label-rounded {
        border-radius: 5rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
      }
      .label.label-primary {
        background: #5755d9;
        color: #fff;
      }
      .label.label-secondary {
        background: #f1f1fc;
        color: #5755d9;
      }
      .label.label-success {
        background: #32b643;
        color: #fff;
      }
      .label.label-warning {
        background: #ffb700;
        color: #fff;
      }
      .label.label-error {
        background: #e85600;
        color: #fff;
      }
      .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        width: 100%;
      }
      .container.grid-xl {
        max-width: 1296px;
      }
      .container.grid-lg {
        max-width: 976px;
      }
      .container.grid-md {
        max-width: 856px;
      }
      .container.grid-sm {
        max-width: 616px;
      }
      .container.grid-xs {
        max-width: 496px;
      }
      .show-lg,
      .show-md,
      .show-sm,
      .show-xl,
      .show-xs {
        display: none;
      }
      .columns {
        width: 100%;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -0.4rem;
        margin-right: -0.4rem;
      }
      .columns.col-gapless {
        margin-left: 0;
        margin-right: 0;
      }
      .columns.col-gapless > .column {
        padding-left: 0;
        padding-right: 0;
      }
      .columns.col-oneline {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
      }
      .column {
        -ms-flex: 1;
        flex: 1;
        max-width: 100%;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
      }
      .column.col-1,
      .column.col-10,
      .column.col-11,
      .column.col-12,
      .column.col-2,
      .column.col-3,
      .column.col-4,
      .column.col-5,
      .column.col-6,
      .column.col-7,
      .column.col-8,
      .column.col-9 {
        -ms-flex: none;
        flex: none;
      }
      .col-12 {
        width: 100%;
      }
      .col-11 {
        width: 91.66666667%;
      }
      .col-10 {
        width: 83.33333333%;
      }
      .col-9 {
        width: 75%;
      }
      .col-8 {
        width: 66.66666667%;
      }
      .col-7 {
        width: 58.33333333%;
      }
      .col-6 {
        width: 50%;
      }
      .col-5 {
        width: 41.66666667%;
      }
      .col-4 {
        width: 33.33333333%;
      }
      .col-3 {
        width: 25%;
      }
      .col-2 {
        width: 16.66666667%;
      }
      .col-1 {
        width: 8.33333333%;
      }
      .col-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: none;
        width: auto;
      }
      .col-mx-auto {
        margin-left: auto;
        margin-right: auto;
      }
      .col-ml-auto {
        margin-left: auto;
      }
      .col-mr-auto {
        margin-right: auto;
      }
      @media (max-width: 1280px) {
        .col-xl-1,
        .col-xl-10,
        .col-xl-11,
        .col-xl-12,
        .col-xl-2,
        .col-xl-3,
        .col-xl-4,
        .col-xl-5,
        .col-xl-6,
        .col-xl-7,
        .col-xl-8,
        .col-xl-9 {
          -ms-flex: none;
          flex: none;
        }
        .col-xl-12 {
          width: 100%;
        }
        .col-xl-11 {
          width: 91.66666667%;
        }
        .col-xl-10 {
          width: 83.33333333%;
        }
        .col-xl-9 {
          width: 75%;
        }
        .col-xl-8 {
          width: 66.66666667%;
        }
        .col-xl-7 {
          width: 58.33333333%;
        }
        .col-xl-6 {
          width: 50%;
        }
        .col-xl-5 {
          width: 41.66666667%;
        }
        .col-xl-4 {
          width: 33.33333333%;
        }
        .col-xl-3 {
          width: 25%;
        }
        .col-xl-2 {
          width: 16.66666667%;
        }
        .col-xl-1 {
          width: 8.33333333%;
        }
        .hide-xl {
          display: none;
        }
        .show-xl {
          display: block;
        }
      }
      @media (max-width: 960px) {
        .col-lg-1,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9 {
          -ms-flex: none;
          flex: none;
        }
        .col-lg-12 {
          width: 100%;
        }
        .col-lg-11 {
          width: 91.66666667%;
        }
        .col-lg-10 {
          width: 83.33333333%;
        }
        .col-lg-9 {
          width: 75%;
        }
        .col-lg-8 {
          width: 66.66666667%;
        }
        .col-lg-7 {
          width: 58.33333333%;
        }
        .col-lg-6 {
          width: 50%;
        }
        .col-lg-5 {
          width: 41.66666667%;
        }
        .col-lg-4 {
          width: 33.33333333%;
        }
        .col-lg-3 {
          width: 25%;
        }
        .col-lg-2 {
          width: 16.66666667%;
        }
        .col-lg-1 {
          width: 8.33333333%;
        }
        .hide-lg {
          display: none;
        }
        .show-lg {
          display: block;
        }
      }
      @media (max-width: 840px) {
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9 {
          -ms-flex: none;
          flex: none;
        }
        .col-md-12 {
          width: 100%;
        }
        .col-md-11 {
          width: 91.66666667%;
        }
        .col-md-10 {
          width: 83.33333333%;
        }
        .col-md-9 {
          width: 75%;
        }
        .col-md-8 {
          width: 66.66666667%;
        }
        .col-md-7 {
          width: 58.33333333%;
        }
        .col-md-6 {
          width: 50%;
        }
        .col-md-5 {
          width: 41.66666667%;
        }
        .col-md-4 {
          width: 33.33333333%;
        }
        .col-md-3 {
          width: 25%;
        }
        .col-md-2 {
          width: 16.66666667%;
        }
        .col-md-1 {
          width: 8.33333333%;
        }
        .hide-md {
          display: none;
        }
        .show-md {
          display: block;
        }
      }
      @media (max-width: 600px) {
        .col-sm-1,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9 {
          -ms-flex: none;
          flex: none;
        }
        .col-sm-12 {
          width: 100%;
        }
        .col-sm-11 {
          width: 91.66666667%;
        }
        .col-sm-10 {
          width: 83.33333333%;
        }
        .col-sm-9 {
          width: 75%;
        }
        .col-sm-8 {
          width: 66.66666667%;
        }
        .col-sm-7 {
          width: 58.33333333%;
        }
        .col-sm-6 {
          width: 50%;
        }
        .col-sm-5 {
          width: 41.66666667%;
        }
        .col-sm-4 {
          width: 33.33333333%;
        }
        .col-sm-3 {
          width: 25%;
        }
        .col-sm-2 {
          width: 16.66666667%;
        }
        .col-sm-1 {
          width: 8.33333333%;
        }
        .hide-sm {
          display: none;
        }
        .show-sm {
          display: block;
        }
      }
      @media (max-width: 480px) {
        .col-xs-1,
        .col-xs-10,
        .col-xs-11,
        .col-xs-12,
        .col-xs-2,
        .col-xs-3,
        .col-xs-4,
        .col-xs-5,
        .col-xs-6,
        .col-xs-7,
        .col-xs-8,
        .col-xs-9 {
          -ms-flex: none;
          flex: none;
        }
        .col-xs-12 {
          width: 100%;
        }
        .col-xs-11 {
          width: 91.66666667%;
        }
        .col-xs-10 {
          width: 83.33333333%;
        }
        .col-xs-9 {
          width: 75%;
        }
        .col-xs-8 {
          width: 66.66666667%;
        }
        .col-xs-7 {
          width: 58.33333333%;
        }
        .col-xs-6 {
          width: 50%;
        }
        .col-xs-5 {
          width: 41.66666667%;
        }
        .col-xs-4 {
          width: 33.33333333%;
        }
        .col-xs-3 {
          width: 25%;
        }
        .col-xs-2 {
          width: 16.66666667%;
        }
        .col-xs-1 {
          width: 8.33333333%;
        }
        .hide-xs {
          display: none;
        }
        .show-xs {
          display: block;
        }
      }
      .navbar {
        align-items: stretch;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-align: stretch;
        -ms-flex-pack: justify;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .navbar .navbar-section {
        align-items: center;
        display: flex;
        display: -ms-flexbox;
        -ms-flex: 1 0 0;
        flex: 1 0 0;
        -ms-flex-align: center;
      }
      .navbar .navbar-section:not(:first-child):last-child {
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      .navbar .navbar-center {
        align-items: center;
        display: flex;
        display: -ms-flexbox;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-align: center;
      }
      .navbar .navbar-brand {
        font-size: 0.9rem;
        text-decoration: none;
      }
      .badge {
        position: relative;
        white-space: nowrap;
      }
      .badge:not([data-badge])::after,
      .badge[data-badge]::after {
        background: #5755d9;
        background-clip: padding-box;
        border-radius: 0.5rem;
        box-shadow: 0 0 0 0.1rem #fff;
        color: #fff;
        content: attr(data-badge);
        display: inline-block;
        transform: translate(-0.05rem, -0.5rem);
      }
      .badge[data-badge]::after {
        font-size: 0.7rem;
        height: 0.9rem;
        line-height: 1;
        min-width: 0.9rem;
        padding: 0.1rem 0.2rem;
        text-align: center;
        white-space: nowrap;
      }
      .badge:not([data-badge])::after,
      .badge[data-badge=""]::after {
        height: 6px;
        min-width: 6px;
        padding: 0;
        width: 6px;
      }
      .badge.btn::after {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
      }
      .badge.avatar::after {
        position: absolute;
        right: 14.64%;
        top: 14.64%;
        transform: translate(50%, -50%);
        z-index: 100;
      }
      .bar {
        background: #eef0f3;
        border-radius: 0.1rem;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 0.8rem;
        width: 100%;
      }
      .bar.bar-sm {
        height: 0.2rem;
      }
      .bar .bar-item {
        background: #5755d9;
        color: #fff;
        display: block;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-size: 0.7rem;
        height: 100%;
        line-height: 0.8rem;
        position: relative;
        text-align: center;
        width: 0;
      }
      .bar .bar-item:first-child {
        border-bottom-left-radius: 0.1rem;
        border-top-left-radius: 0.1rem;
      }
      .bar .bar-item:last-child {
        border-bottom-right-radius: 0.1rem;
        border-top-right-radius: 0.1rem;
        -ms-flex-negative: 1;
        flex-shrink: 1;
      }
      .bar-slider {
        height: 0.1rem;
        margin: 0.4rem 0;
        position: relative;
      }
      .bar-slider .bar-item {
        left: 0;
        padding: 0;
        position: absolute;
      }
      .bar-slider .bar-item:not(:last-child):first-child {
        background: #eef0f3;
        z-index: 1;
      }
      .bar-slider .bar-slider-btn {
        background: #5755d9;
        border: 0;
        border-radius: 50%;
        height: 0.6rem;
        padding: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        width: 0.6rem;
      }
      .bar-slider .bar-slider-btn:active {
        box-shadow: 0 0 0 0.1rem #5755d9;
      }
      .card {
        background: #fff;
        border: 0.05rem solid #dadee4;
        border-radius: 0.1rem;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      .card .card-body,
      .card .card-footer,
      .card .card-header {
        padding: 0.8rem;
        padding-bottom: 0;
      }
      .card .card-body:last-child,
      .card .card-footer:last-child,
      .card .card-header:last-child {
        padding-bottom: 0.8rem;
      }
      .card .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
      }
      .card .card-image {
        padding-top: 0.8rem;
      }
      .card .card-image:first-child {
        padding-top: 0;
      }
      .card .card-image:first-child img {
        border-top-left-radius: 0.1rem;
        border-top-right-radius: 0.1rem;
      }
      .card .card-image:last-child img {
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
      }
      .chip {
        align-items: center;
        background: #eef0f3;
        border-radius: 5rem;
        display: inline-flex;
        display: -ms-inline-flexbox;
        -ms-flex-align: center;
        font-size: 90%;
        height: 1.2rem;
        line-height: 0.8rem;
        margin: 0.1rem;
        max-width: 320px;
        overflow: hidden;
        padding: 0.2rem 0.4rem;
        text-decoration: none;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }
      .chip.active {
        background: #5755d9;
        color: #fff;
      }
      .chip .avatar {
        margin-left: -0.4rem;
        margin-right: 0.2rem;
      }
      .chip .btn-clear {
        border-radius: 50%;
        transform: scale(0.75);
      }
      .dropdown {
        display: inline-block;
        position: relative;
      }
      .dropdown .menu {
        animation: slide-down 0.15s ease 1;
        display: none;
        left: 0;
        max-height: 50vh;
        overflow-y: auto;
        position: absolute;
        top: 100%;
      }
      .dropdown.dropdown-right .menu {
        left: auto;
        right: 0;
      }
      .dropdown .dropdown-toggle:focus + .menu,
      .dropdown .menu:hover,
      .dropdown.active .menu {
        display: block;
      }
      .dropdown .btn-group .dropdown-toggle:nth-last-child(2) {
        border-bottom-right-radius: 0.1rem;
        border-top-right-radius: 0.1rem;
      }
      .modal {
        align-items: center;
        bottom: 0;
        display: none;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        justify-content: center;
        left: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0.4rem;
        position: fixed;
        right: 0;
        top: 0;
      }
      .modal.active,
      .modal:target {
        display: flex;
        display: -ms-flexbox;
        opacity: 1;
        z-index: 400;
      }
      .modal.active .modal-overlay,
      .modal:target .modal-overlay {
        background: rgba(247, 248, 249, 0.75);
        bottom: 0;
        cursor: default;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
      .modal.active .modal-container,
      .modal:target .modal-container {
        animation: slide-down 0.2s ease 1;
        z-index: 1;
      }
      .modal.modal-sm .modal-container {
        max-width: 320px;
        padding: 0 0.4rem;
      }
      .modal.modal-lg .modal-overlay {
        background: #fff;
      }
      .modal.modal-lg .modal-container {
        box-shadow: none;
        max-width: 960px;
      }
      .modal-container {
        background: #fff;
        border-radius: 0.1rem;
        box-shadow: 0 0.2rem 0.5rem rgba(48, 55, 66, 0.3);
        display: flex;
        display: -ms-flexbox;
        -ms-flex-direction: column;
        flex-direction: column;
        max-height: 75vh;
        max-width: 640px;
        padding: 0 0.8rem;
        width: 100%;
      }
      .modal-container.modal-fullheight {
        max-height: 100vh;
      }
      .modal-container .modal-header {
        color: #303742;
        padding: 0.8rem;
      }
      .modal-container .modal-body {
        overflow-y: auto;
        padding: 0.8rem;
        position: relative;
      }
      .modal-container .modal-footer {
        padding: 0.8rem;
        text-align: right;
      }
      .nav {
        display: flex;
        display: -ms-flexbox;
        -ms-flex-direction: column;
        flex-direction: column;
        list-style: none;
        margin: 0.2rem 0;
      }
      .nav .nav-item a {
        color: #66758c;
        padding: 0.2rem 0.4rem;
        text-decoration: none;
      }
      .nav .nav-item a:focus,
      .nav .nav-item a:hover {
        color: #5755d9;
      }
      .nav .nav-item.active > a {
        color: #505c6e;
        font-weight: 700;
      }
      .nav .nav-item.active > a:focus,
      .nav .nav-item.active > a:hover {
        color: #5755d9;
      }
      .nav .nav {
        margin-bottom: 0.4rem;
        margin-left: 0.8rem;
      }
      .pagination {
        display: flex;
        display: -ms-flexbox;
        list-style: none;
        margin: 0.2rem 0;
        padding: 0.2rem 0;
      }
      .pagination .page-item {
        margin: 0.2rem 0.05rem;
      }
      .pagination .page-item span {
        display: inline-block;
        padding: 0.2rem 0.2rem;
      }
      .pagination .page-item a {
        border-radius: 0.1rem;
        display: inline-block;
        padding: 0.2rem 0.4rem;
        text-decoration: none;
      }
      .pagination .page-item a:focus,
      .pagination .page-item a:hover {
        color: #5755d9;
      }
      .pagination .page-item.disabled a {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
      }
      .pagination .page-item.active a {
        background: #5755d9;
        color: #fff;
      }
      .pagination .page-item.page-next,
      .pagination .page-item.page-prev {
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
      }
      .pagination .page-item.page-next {
        text-align: right;
      }
      .pagination .page-item .page-item-title {
        margin: 0;
      }
      .pagination .page-item .page-item-subtitle {
        margin: 0;
        opacity: 0.5;
      }
      .tab {
        align-items: center;
        border-bottom: 0.05rem solid #dadee4;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-align: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        margin: 0.2rem 0 0.15rem 0;
      }
      .tab .tab-item {
        margin-top: 0;
      }
      .tab .tab-item a {
        border-bottom: 0.1rem solid transparent;
        color: inherit;
        display: block;
        margin: 0 0.4rem 0 0;
        padding: 0.4rem 0.2rem 0.3rem 0.2rem;
        text-decoration: none;
      }
      .tab .tab-item a:focus,
      .tab .tab-item a:hover {
        color: #5755d9;
      }
      .tab .tab-item a.active,
      .tab .tab-item.active a {
        border-bottom-color: #5755d9;
        color: #5755d9;
      }
      .tab .tab-item.tab-action {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        text-align: right;
      }
      .tab .tab-item .btn-clear {
        margin-top: -0.2rem;
      }
      .tab.tab-block .tab-item {
        -ms-flex: 1 0 0;
        flex: 1 0 0;
        text-align: center;
      }
      .tab.tab-block .tab-item a {
        margin: 0;
      }
      .tab.tab-block .tab-item .badge[data-badge]::after {
        position: absolute;
        right: 0.1rem;
        top: 0.1rem;
        transform: translate(0, 0);
      }
      .tab:not(.tab-block) .badge {
        padding-right: 0;
      }
      @keyframes loading {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes slide-down {
        0% {
          opacity: 0;
          transform: translateY(-1.6rem);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .text-primary {
        color: #5755d9;
      }
      a.text-primary:focus,
      a.text-primary:hover {
        color: #4240d4;
      }
      a.text-primary:visited {
        color: #6c6ade;
      }
      .text-secondary {
        color: #e5e5f9;
      }
      a.text-secondary:focus,
      a.text-secondary:hover {
        color: #d1d0f4;
      }
      a.text-secondary:visited {
        color: #fafafe;
      }
      .text-gray {
        color: #bcc3ce;
      }
      a.text-gray:focus,
      a.text-gray:hover {
        color: #adb6c4;
      }
      a.text-gray:visited {
        color: #cbd0d9;
      }
      .text-light {
        color: #fff;
      }
      a.text-light:focus,
      a.text-light:hover {
        color: #f2f2f2;
      }
      a.text-light:visited {
        color: #fff;
      }
      .text-dark {
        color: #3b4351;
      }
      a.text-dark:focus,
      a.text-dark:hover {
        color: #303742;
      }
      a.text-dark:visited {
        color: #455060;
      }
      .text-success {
        color: #32b643;
      }
      a.text-success:focus,
      a.text-success:hover {
        color: #2da23c;
      }
      a.text-success:visited {
        color: #39c94b;
      }
      .text-warning {
        color: #ffb700;
      }
      a.text-warning:focus,
      a.text-warning:hover {
        color: #e6a500;
      }
      a.text-warning:visited {
        color: #ffbe1a;
      }
      .text-error {
        color: #e85600;
      }
      a.text-error:focus,
      a.text-error:hover {
        color: #cf4d00;
      }
      a.text-error:visited {
        color: #ff6003;
      }
      /* header start */
      .main-container {
        max-width: 1136px;
        margin: 20px auto;
        font-family: "Noto Sans TC", sans-serif;
      }
      .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 2px solid rgb(143, 143, 143);
        padding-bottom: 4px;
        margin-bottom: 10px;
      }
      .banner {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .banner h1 {
        margin: 0;
      }
      .main-nav {
        background: #fff;
        text-transform: uppercase;
      }
      .main-nav .menu {
        text-transform: uppercase;
        font: inherit;
        vertical-align: baseline;
        list-style: none;
        white-space: nowrap;
        overflow-x: auto;
      }
      .topicNavItem {
        text-transform: uppercase;
        list-style: none;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        position: relative;
        font-weight: 700;
        display: inline-block;
      }
      .topicNavItem a {
        text-transform: uppercase;
        list-style: none;
        white-space: nowrap;
        font: inherit;
        vertical-align: baseline;
        display: block;
        color: #000;
        padding: 0.5rem 1.25rem;
        text-decoration: none;
      }
      /* header end */
      /* image setting */
      amp-img {
        background-color: white;
        object-fit: contain;
      }
      /* article content start*/
      .title_article {
        margin-bottom: 0.5rem;
        font-weight: 700;
      }
      .timeline__article {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        margin: 10px auto;
      }
      .timeline__article p {
        margin: 0;
      }
      .content__list {
        padding: 20px;
      }
      .container__introduce {
        margin: 20px auto;
        padding-left: 10px;
        border-left: 8px solid #d1894dd0;
      }

      .paragraph--container h2 {
        margin: 0;
        margin-bottom: 5px;
        display: inline;
      }
      /* article content end*/
      .sidebar {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
      }
      .article-image-container {
        margin-bottom: 10px;
      }
      .subarticle-wrapper {
        margin-top: 10px;
        margin-bottom: 30px;
      }
      /* aside bar start */
      .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      .introduce--website {
        background-color: #e8d3c4;
        color: #000;
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;
      }
      .introduce--link {
        margin-top: 10px;
      }
      .introduce--link a {
        background-color: white;
        padding: 5px;
        color: #000;
        margin-top: 10px;
      }
      /* aside bar end */
      .more--content {
        margin: 20px;
      }
      .more-atricle--title:before {
        content: "";
        background: #000000;
        border-radius: 4px;
        display: block;
        height: 8px;
        margin-bottom: 0.5rem;
        width: 72px;
      }
      .card-container {
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        /* border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px; */
      }
      .card-container amp-img {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }
      .card-container a {
        color: black;
      }
      /* more--content end  */
      .article-footer {
        padding-left: 50px;
        background-color: rgb(32, 32, 32);
        color: white;
        height: 30px;
        border-radius: 5px;
        line-height: 30px;
      }
      .article-footer .copyright {
        margin: 0;
      }
      .article-footer a {
        color: white;
      }
      .article-footer .terms {
        color: black;
        margin: 0;
      }
      /* footer style end */
      @media (max-width: 480px) {
        .sticky {
          display: none;
        }
      }
      /* RWD style end*/
    </style>
  </head>
  <body>
    <div id="body-container" class="main-container">
      <header class="header-wrap container">
        <div class="columns">
          <div class="banner col-3 col-md-12">
            <amp-img
              alt="logo"
              src="https://upload.cc/i1/2021/04/30/fXKnwp.png"
              width="70"
              height="70"
              layout="fixed"
            ></amp-img>
            <div class="logo-container"><h1>解密之書</h1></div>
          </div>
          <nav class="main-nav col-9 col-md-12">
            <ul class="navbar">
              <li class="topicNavItem">
                <a href="#" class="link_item">首頁</a>
              </li>
              <li class="topicNavItem">
                <a href="#" class="link_item">學習</a>
              </li>
              <li class="topicNavItem">
                <a href="#" class="link_item">分享</a>
              </li>
              <li class="topicNavItem"><a href="#" class="link_item">3C</a></li>
              <li class="topicNavItem">
                <a href="#" class="link_item">食材</a>
              </li>
              <li class="topicNavItem">
                <a href="#" class="link_item">裝修</a>
              </li>
              <li class="topicNavItem">
                <a href="#" class="link_item">穿搭</a>
              </li>
              <li class="topicNavItem">
                <a href="#" class="link_item">減肥</a>
              </li>
              <li class="topicNavItem">
                <a href="#" class="link_item">保養</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      {{{body}}}
      <footer class="article-footer">
        <div class="copyright-wrap">
          <p class="copyright">
            Copyright ©2021&nbsp;/&nbsp;<a href="/terms" rel="nofollow"
              >服務條款</a
            >&nbsp;/&nbsp;<a href="mailto:dmca@kknews.cc" rel="nofollow">DMCA</a
            >&nbsp;/&nbsp;<a href="mailto:support@kknews.cc" rel="nofollow"
              >聯絡我們</a
            >
          </p>
          <p class="terms">
            免責聲明：本網站是以實時上傳文章的方式運作，本站對所有文章的真實性、完整性及立場等，不負任何法律責任。而一切文章內容只代表發文者個人意見，並非本網站之立場，用戶不應信賴內容，並應自行判斷內容之真實性。發文者擁有在本站張貼的文章。由於本站是受到「實時發表」運作方式所規限，故不能完全監查所有即時文章，若讀者發現有留言出現問題，請聯絡我們。本站有權刪除任何內容及拒絕任何人士發文，同時亦有不刪除文章的權力。切勿撰寫粗言穢語、毀謗、渲染色情暴力或人身攻擊的言論，敬請自律。本網站保留一切法律權利。
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
