<main id="buzz-content" class="main__content">
  <div class="article__content container">
    <div class="columns">
      <div class="content__list col-7 col-md-12">
        <article>
          <div class="headline">
            <div class="container__headline">
              <h1 class="title_article">
                心動的offer中我學到了！ 入職小白分享心得
              </h1>
            </div>
          </div>
          <time class="timeline__article">
            <p class="meta post-meta">
              時間:&nbsp;2021-04-23&nbsp;<em>發表于&nbsp;娛樂&nbsp;</em>
            </p>
          </time>
          <div class="container__introduce">
            <p>
              人的內心一旦填滿捨不得丟又不怎麼用的上的東西，就無暇顧及真正有價值的好物。
              ·‼
              ️如果覺得整理就是扔東西，而遲遲未開始整理，你就會錯過家裡你喜歡的、為你所用的東西。
              ·《家的整理》從整理&收納、家務出發，分享了51個生活小技巧
              面試官更希望看到一個對未來有規劃的面試者且
              對於簡歷上的內容要熟悉,並簡短扼要。
            </p>
          </div>
          <div class="subarticle--list">
            <div class="subarticle-wrapper">
              <div class="subarticle">
                <amp-text class="subarticle__title xs-mb1 bold">
                  <div class="paragraph--container">
                    <h2 class="subtitle__number">1.</h2>
                    <h2 class="subtitle__paragraph">先認識你自己</h2>
                  </div>
                  <span class="subtitle__title-text"
                    >面試官更希望看到一個對未來有規劃的面試者且
                    對於簡歷上的內容要熟悉,並簡短扼要。
                    <p>
                      在面試時，
                      乾淨正式的儀容儀表是必要的(收拾好自己)，並真實的展現自己，優點也好缺點也罷，因為在前輩的眼裡這些都能一眼看透，所以沒必要藏著會顯得很不自然
                    </p></span
                  >
                </amp-text>

                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="https://upload.cc/i1/2021/04/30/LCYvDI.jpg"
                    width="1.33"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>

                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
              </div>
            </div>
          </div>
        </article>
        <div class="colsss"></div>
      </div>
      <section class="sidebar col-5 col-md-12" aria-label="Promoted content">
        <div id="#" class="introduce--website">
          <div class="introduce--description">
            <h2 class="introduce--header"><strong>關於解密之書</strong></h2>
            <amp-text class="introduce--content"
              >解密之書致力於「各國網站的生活技巧與終點整理」為主題，透過文字作品與圖文，濃縮並精簡內容，提供有趣且實用的重點筆記給你們。</amp-text
            >
          </div>
          <div class="introduce--link">
            <a
              class="et_pb_button et_pb_promo_button"
              href="https://zoeyk.co/about/"
              >閱讀更多</a
            >
          </div>
        </div>
        <div class="sticky">
          <div class="sb-widget">
            <div class="axslot dlrec axsense">
              <script
                async=""
                src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
              ></script>
              <ins
                class="adsbygoogle"
                style="display: inline-block; width: 300px; height: 600px"
                data-adsbygoogle-status="done"
                ><ins
                  id="aswift_6_expand"
                  style="
                    display: inline-table;
                    border: none;
                    height: 600px;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    visibility: visible;
                    width: 300px;
                    background-color: transparent;
                  "
                  tabindex="0"
                  title="Advertisement"
                  aria-label="Advertisement"
                  ><ins
                    id="aswift_6_anchor"
                    style="
                      display: block;
                      border: none;
                      height: 600px;
                      margin: 0;
                      padding: 0;
                      position: relative;
                      visibility: visible;
                      width: 300px;
                      background-color: transparent;
                    "
                    ><iframe
                      id="aswift_6"
                      name="aswift_6"
                      style="
                        left: 0;
                        position: absolute;
                        top: 0;
                        border: 0;
                        width: 300px;
                        height: 600px;
                      "
                      sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                      width="300"
                      height="600"
                      frameborder="0"
                      src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-2923152866385027&amp;output=html&amp;h=600&amp;slotname=8020944542&amp;adk=3537841411&amp;adf=3388927002&amp;pi=t.ma~as.8020944542&amp;w=300&amp;lmt=1619015902&amp;psa=1&amp;channel=9889961341&amp;format=300x600&amp;url=https%3A%2F%2Fkknews.cc%2Fzh-tw%2F&amp;flash=0&amp;wgl=1&amp;dt=1619015902371&amp;bpp=1&amp;bdt=325&amp;idt=144&amp;shv=r20210415&amp;cbv=r20190131&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;cookie=ID%3Dfee4325927297e1e-22a9bfe21ec60023%3AT%3D1613999387%3ART%3D1613999387%3AS%3DALNI_MbmO12n2-nh-9yxdFWT9dYU7SKfjg&amp;prev_fmts=300x250%2C300x250%2C300x250%2C300x250%2C300x250%2C300x250&amp;correlator=8712606091120&amp;pv_ch=9889961341%2B&amp;frm=20&amp;pv=1&amp;ga_vid=1591202543.1613999386&amp;ga_sid=1619015902&amp;ga_hid=132059757&amp;ga_fc=0&amp;u_tz=480&amp;u_his=7&amp;u_java=0&amp;u_h=1050&amp;u_w=1680&amp;u_ah=1050&amp;u_aw=1680&amp;u_cd=30&amp;u_nplug=3&amp;u_nmime=4&amp;adx=1010&amp;ady=236&amp;biw=1680&amp;bih=939&amp;scr_x=0&amp;scr_y=0&amp;eid=44740079&amp;oid=3&amp;pvsid=645956524568408&amp;pem=61&amp;ref=https%3A%2F%2Fwww.google.com%2F&amp;eae=0&amp;fc=896&amp;brdim=0%2C0%2C0%2C0%2C1680%2C0%2C1680%2C1050%2C1680%2C939&amp;vis=1&amp;rsz=%7C%7CoeE%7C&amp;abl=CS&amp;pfx=0&amp;fu=0&amp;bc=31&amp;ifi=7&amp;uci=a!7&amp;fsb=1&amp;xpc=bQznwjwybl&amp;p=https%3A//kknews.cc&amp;dtd=148"
                      marginwidth="0"
                      marginheight="0"
                      vspace="0"
                      hspace="0"
                      allowtransparency="true"
                      scrolling="no"
                      allowfullscreen="true"
                      data-google-container-id="a!7"
                      data-google-query-id="CObhjZ7Ij_ACFQZslgodjM8IMA"
                      data-load-complete="true"
                    ></iframe></ins></ins
              ></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                  params: {
                    google_ad_client: [
                      "ca",
                      "pub",
                      "2923" + "1528" + "6638" + "5027",
                    ].join("-"),
                    google_ad_slot: "8020944542",
                    google_ad_channel: "9889961341",
                  },
                });
              </script>
            </div>
          </div>
        </div>
      </section>
      <section class="more--content columns">
        <h2 class="more-atricle--title col-12">更多相關文章</h2>
        <section class="more-atricle container col-12">
          <div class="columns">
            <div class="card card-container col-3 col-md-12">
              <div class="card-image">
                <a href="https://www.fooish.com/html/hyperlink-a-tag.html">
                  <amp-img
                    alt="view of the article content"
                    height="250"
                    layout="fixed-height"
                    src="https://upload.cc/i1/2021/04/28/uRCMZJ.jpg"
                  >
                  </amp-img>
                </a>
              </div>
              <a href="https://www.fooish.com/html/hyperlink-a-tag.html">
                <div class="card-header">
                  <div class="card-title h5">Microsoft</div>
                </div>
                <div class="card-body">
                  Empower every person and every organization on the planet to
                  achieve more.
                </div>
              </a>
            </div>
            <div class="card card-container col-3 col-md-12">
              <div class="card-image">
                <amp-img
                  alt="view of the article content"
                  height="250"
                  layout="fixed-height"
                  src="https://upload.cc/i1/2021/04/28/uRCMZJ.jpg"
                >
                </amp-img>
              </div>
              <div class="card-header">
                <div class="card-title h5">Microsoft</div>
              </div>
              <div class="card-body">
                Empower every person and every organization on the planet to
                achieve more.
              </div>
            </div>
            <div class="card card-container col-3 col-md-12">
              <div class="card-image">
                <amp-img
                  alt="view of the article content"
                  height="250"
                  layout="fixed-height"
                  src="https://upload.cc/i1/2021/04/28/uRCMZJ.jpg"
                >
                </amp-img>
              </div>
              <div class="card-header">
                <div class="card-title h5">Microsoft</div>
              </div>
              <div class="card-body">
                Empower every person and every organization on the planet to
                achieve more.
              </div>
            </div>
            <div class="card card-container col-3 col-md-12">
              <div class="card-image">
                <amp-img
                  alt="view of the article content"
                  height="250"
                  layout="fixed-height"
                  src="https://upload.cc/i1/2021/04/28/uRCMZJ.jpg"
                >
                </amp-img>
              </div>
              <div class="card-header">
                <div class="card-title h5">Microsoft</div>
              </div>
              <div class="card-body">
                Empower every person and every organization on the planet to
                achieve more.
              </div>
            </div>
            <div class="card card-container col-3 col-md-12">
              <div class="card-image">
                <amp-img
                  alt="view of the article content"
                  height="250"
                  layout="fixed-height"
                  src="https://upload.cc/i1/2021/04/28/uRCMZJ.jpg"
                >
                </amp-img>
              </div>
              <div class="card-header">
                <div class="card-title h5">Microsoft</div>
              </div>
              <div class="card-body">
                Empower every person and every organization on the planet to
                achieve more.
              </div>
            </div>
            <div class="card card-container col-3 col-md-12">
              <div class="card-image">
                <amp-img
                  alt="view of the article content"
                  height="250"
                  layout="fixed-height"
                  src="https://upload.cc/i1/2021/04/28/uRCMZJ.jpg"
                >
                </amp-img>
              </div>
              <div class="card-header">
                <div class="card-title h5">Microsoft</div>
              </div>
              <div class="card-body">
                Empower every person and every organization on the planet to
                achieve more.
              </div>
            </div>
            <div class="card card-container col-3 col-md-12">
              <div class="card-image">
                <amp-img
                  alt="view of the article content"
                  height="250"
                  layout="fixed-height"
                  src="https://upload.cc/i1/2021/04/28/uRCMZJ.jpg"
                >
                </amp-img>
              </div>
              <div class="card-header">
                <div class="card-title h5">Microsoft</div>
              </div>
              <div class="card-body">
                Empower every person and every organization on the planet to
                achieve more.
              </div>
            </div>
            <div class="card card-container col-3 col-md-12" id="testbelow">
              <div class="card-image">
                <amp-img
                  alt="view of the article content"
                  height="250"
                  layout="fixed-height"
                  src="https://upload.cc/i1/2021/04/28/uRCMZJ.jpg"
                >
                </amp-img>
              </div>
              <div class="card-header">
                <div class="card-title h5">Microsoft</div>
              </div>
              <div class="card-body">
                Empower every person and every organization on the planet to
                achieve more.
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</main>
