<form method="post" action="/articles/new" target="_top">
  <fieldset>
    <div class="form-row col-12">
      <label for="title">文章標題：</label
      ><input
        id="title"
        type="text"
        placeholder="請輸入文章標題"
        name="title"
        style="width: 800px"
      />
    </div>
    <div class="form-row col-12">
      <p>文章分類:</p>
      <div class="radio-container" style="display: flex; align-content: center">
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="learn"
            name="category"
            value="learn"
            style="display: inline-block"
          />
          <label for="learn" style="display: inline-block; padding: 10px"
            >學習</label
          >
        </div>
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="share"
            name="category"
            value="share"
            style="display: inline-block"
          />
          <label for="share" style="display: inline-block; padding: 10px"
            >分享</label
          >
        </div>
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="digital"
            name="category"
            value="digital"
            style="display: inline-block"
          />
          <label for="digital" style="display: inline-block; padding: 10px"
            >3C</label
          >
        </div>
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="food"
            name="category"
            value="food"
            style="display: inline-block"
          />
          <label for="food" style="display: inline-block; padding: 10px"
            >食物</label
          >
        </div>
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="decoration"
            name="category"
            value="decoration"
            style="display: inline-block"
          />
          <label for="decoration" style="display: inline-block; padding: 10px"
            >家居</label
          >
        </div>
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="outfit"
            name="category"
            value="outfit"
            style="display: inline-block"
          />
          <label for="outfit" style="display: inline-block; padding: 10px"
            >穿搭</label
          >
        </div>
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="health"
            name="category"
            value="health"
            style="display: inline-block"
          />
          <label for="health" style="display: inline-block; padding: 10px"
            >健康</label
          >
        </div>
      </div>
    </div>
    <div class="form-row col-12">
      <label for="coverImage">封面圖網址:</label
      ><input
        id="coverImage"
        type="text"
        placeholder="請輸入文章封面圖網址"
        name="coverImage"
        style="width: 800px"
      />
    </div>
    <div class="form-row col-12">
      <label for="introduce">文章主要重點介紹:</label
      ><textarea
        id="introduce"
        type="text"
        placeholder="請輸入文重點介紹"
        name="introduce"
        style="width: 800px"
      ></textarea>
    </div>
    <div class="form-row col-12">
      <p>作者:</p>
      <div class="radio-container" style="display: flex; align-content: center">
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="learn"
            name="author"
            value="user1"
            style="display: inline-block"
          />
          <label for="learn" style="display: inline-block; padding: 10px"
            >小葉(1)</label
          >
        </div>
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="share"
            name="author"
            value="user2"
            style="display: inline-block"
          />
          <label for="share" style="display: inline-block; padding: 10px"
            >淳井(2)</label
          >
        </div>
        <div class="form-row" style="display: flex; padding: 10px">
          <input
            type="radio"
            id="digital"
            name="author"
            value="user3"
            style="display: inline-block"
          />
          <label for="digital" style="display: inline-block; padding: 10px"
            >其他人(3)</label
          >
        </div>
      </div>
    </div>

    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標題"
          name="subtitle1"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>文章段落:</p>
        <textarea
          type="text"
          placeholder="文章段落"
          name="paragraph1"
          style="width: 500px"
        ></textarea>
      </div>
      <div class="form-row" style="display: flex">
        <p>段落照片:</p>
        <input type="text" placeholder="段落照片網址" name="image1" />
      </div>
    </div>
    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標題"
          name="subtitle2"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>文章段落:</p>
        <textarea
          type="text"
          placeholder="文章段落"
          name="paragraph2"
          style="width: 500px"
        ></textarea>
      </div>
      <div class="form-row" style="display: flex">
        <p>段落照片:</p>
        <input type="text" placeholder="段落照片網址" name="image2" />
      </div>
    </div>
    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標題"
          name="subtitle3"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>文章段落:</p>
        <textarea
          type="text"
          placeholder="文章段落"
          name="paragraph3"
          style="width: 500px"
        ></textarea>
      </div>
      <div class="form-row" style="display: flex">
        <p>段落照片:</p>
        <input type="text" placeholder="段落照片網址" name="image3" />
      </div>
    </div>
    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標題"
          name="subtitle4"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>文章段落:</p>
        <textarea
          type="text"
          placeholder="文章段落"
          name="paragraph4"
          style="width: 500px"
        ></textarea>
      </div>
      <div class="form-row" style="display: flex">
        <p>段落照片:</p>
        <input type="text" placeholder="段落照片網址" name="image4" />
      </div>
    </div>
    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標題"
          name="subtitle5"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>文章段落:</p>
        <textarea
          type="text"
          placeholder="文章段落"
          name="paragraph5"
          style="width: 500px"
        ></textarea>
      </div>
      <div class="form-row" style="display: flex">
        <p>段落照片:</p>
        <input type="text" placeholder="段落照片網址" name="image5" />
      </div>
    </div>
    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標題"
          name="subtitle6"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>文章段落:</p>
        <textarea
          type="text"
          placeholder="文章段落"
          name="paragraph6"
          style="width: 500px"
        ></textarea>
      </div>
      <div class="form-row" style="display: flex">
        <p>段落照片:</p>
        <input type="text" placeholder="段落照片網址" name="image6" />
      </div>
    </div>
    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標題"
          name="subtitle7"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>文章段落:</p>
        <textarea
          type="text"
          placeholder="文章段落"
          name="paragraph7"
          style="width: 500px"
        ></textarea>
      </div>
      <div class="form-row" style="display: flex">
        <p>段落照片:</p>
        <input type="text" placeholder="段落照片網址" name="image7" />
      </div>
    </div>
    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標題"
          name="subtitle8"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>文章段落:</p>
        <textarea
          type="text"
          placeholder="文章段落"
          name="paragraph8"
          style="width: 500px"
        ></textarea>
      </div>
      <div class="form-row" style="display: flex">
        <p>段落照片:</p>
        <input type="text" placeholder="段落照片網址" name="image8" />
      </div>
    </div>
    <div
      class="container-content col-12"
      style="display: flex; justify-content: space-between"
    >
      <div class="form-row" style="display: flex">
        <p>文章標註:</p>
        <input
          type="text"
          placeholder="重點標籤"
          name="label1"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="副標籤"
          name="label2"
          style="width: 300px"
        />
      </div>
      <div class="form-row" style="display: flex">
        <p>副標題:</p>
        <input
          type="text"
          placeholder="尾標籤"
          name="label3"
          style="width: 300px"
        />
      </div>
    </div>
    <button class="btn btn-outline-secondary mb-2 mt-2" type="submit">
      產生文章
    </button>
  </fieldset>
</form>
