<form action="/article" method="POST">
  <div class="container" style="display: flex">
    <p>title</p>
    <input type="text" placeholder="name" name="name" />
  </div>
  <div class="container" style="display: flex">
    <p>category:</p>
    <div>
      <input type="radio" id="learn" name="drone" value="learn" />
      <label for="learn">learn</label>
    </div>
    <div>
      <input type="radio" id="share" name="drone" value="share" />
      <label for="share">share</label>
    </div>
    <div>
      <input type="radio" id="digital" name="digital" value="digital" />
      <label for="digital">digital</label>
    </div>
    <div>
      <input type="radio" id="food" name="food" value="food" />
      <label for="food">food</label>
    </div>
    <div>
      <input
        type="radio"
        id="decoration"
        name="decoration"
        value="decoration"
      />
      <label for="decoration">decoration</label>
    </div>
    <div>
      <input type="radio" id="outfit" name="outfit" value="outfit" />
      <label for="outfit">outfit</label>
    </div>
    <div>
      <input type="radio" id="health" name="health" value="health" />
      <label for="health">health</label>
    </div>
  </div>
  <div class="container" style="display: flex">
    <p>coverImage</p>
    <input type="text" placeholder="coverImage" name="coverImage" />
  </div>
  <div class="container" style="display: flex">
    <p>introduce</p>
    <input type="text" placeholder="introduce" name="introduce" />
  </div>
  <div class="container-content">
    <div class="container" style="display: flex">
      <p>subtitle1</p>
      <input type="text" placeholder="subtitle1" name="subtitle1" />
    </div>
    <div class="container" style="display: flex">
      <p>paragraph1</p>
      <input type="text" placeholder="paragraph1" name="paragraph1" />
    </div>
    <div class="container" style="display: flex">
      <p>image1</p>
      <input type="text" placeholder="image1" name="image1" />
    </div>
  </div>
  <div class="container-content">
    <div class="container" style="display: flex">
      <p>subtitle2</p>
      <input type="text" placeholder="subtitle2" name="subtitle2" />
    </div>
    <div class="container" style="display: flex">
      <p>paragraph2</p>
      <input type="text" placeholder="paragraph2" name="paragraph2" />
    </div>
    <div class="container" style="display: flex">
      <p>image2</p>
      <input type="text" placeholder="image2" name="image2" />
    </div>
  </div>
  <div class="container-content">
    <div class="container" style="display: flex">
      <p>subtitle3</p>
      <input type="text" placeholder="subtitle3" name="subtitle3" />
    </div>
    <div class="container" style="display: flex">
      <p>paragraph3</p>
      <input type="text" placeholder="paragraph3" name="paragraph3" />
    </div>
    <div class="container" style="display: flex">
      <p>image3</p>
      <input type="text" placeholder="image3" name="image3" />
    </div>
  </div>
  <div class="container-content">
    <div class="container" style="display: flex">
      <p>subtitle4</p>
      <input type="text" placeholder="subtitle4" name="subtitle4" />
    </div>
    <div class="container" style="display: flex">
      <p>paragraph4</p>
      <input type="text" placeholder="paragraph4" name="paragraph4" />
    </div>
    <div class="container" style="display: flex">
      <p>image4</p>
      <input type="text" placeholder="image4" name="image4" />
    </div>
  </div>
  <div class="container-content">
    <div class="container" style="display: flex">
      <p>subtitle5</p>
      <input type="text" placeholder="subtitle5" name="subtitle5" />
    </div>
    <div class="container" style="display: flex">
      <p>paragraph5</p>
      <input type="text" placeholder="paragraph5" name="paragraph5" />
    </div>
    <div class="container" style="display: flex">
      <p>image5</p>
      <input type="text" placeholder="image5" name="image5" />
    </div>
  </div>
  <div class="container-content">
    <div class="container" style="display: flex">
      <p>subtitle6</p>
      <input type="text" placeholder="subtitle6" name="subtitle6" />
    </div>
    <div class="container" style="display: flex">
      <p>paragraph6</p>
      <input type="text" placeholder="paragraph6" name="paragraph6" />
    </div>
    <div class="container" style="display: flex">
      <p>image7</p>
      <input type="text" placeholder="image7" name="image7" />
    </div>
  </div>
  <div class="container-content">
    <div class="container" style="display: flex">
      <p>subtitle8</p>
      <input type="text" placeholder="subtitle8" name="subtitle8" />
    </div>
    <div class="container" style="display: flex">
      <p>paragraph8</p>
      <input type="text" placeholder="paragraph8" name="paragraph8" />
    </div>
    <div class="container" style="display: flex">
      <p>image8</p>
      <input type="text" placeholder="image8" name="image8" />
    </div>
  </div>
  <div class="container-content">
    <div class="container" style="display: flex">
      <p>subtitle1</p>
      <input type="text" placeholder="subtitle1" name="subtitle1" />
    </div>
    <div class="container" style="display: flex">
      <p>paragraph1</p>
      <input type="text" placeholder="paragraph1" name="paragraph1" />
    </div>
    <div class="container" style="display: flex">
      <p>image1</p>
      <input type="text" placeholder="image1" name="image1" />
    </div>
  </div>
  <button type="submit">Create</button>
</form>
